includes:
  - vendor/nunomaduro/larastan/extension.neon
  - vendor/nunomaduro/larastan/rules.neon

parameters:
  level: max
  paths:
    - src
  tmpDir: build/phpstan
  checkMissingIterableValueType: false
